    {%- case icon -%}
      {% when 'account' %}
      <svg width="22" height="22" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Vector</title>
        <desc>Created using Figma</desc>
        <g id="Canvas" transform="translate(-9419 -10914)">
        <g id="Vector">
        <mask id="mask0_outline_ins">
        <use xlink:href="#path0_fill" fill="white" transform="translate(9419 10914)"/>
        <use xlink:href="#path1_fill" fill="white" transform="translate(9419 10914)"/>
        </mask>
        <g mask="url(#mask0_outline_ins)">
        <use xlink:href="#path2_stroke_2x" transform="translate(9419 10914)" fill="#333333"/>
        </g>
        </g>
        </g>
        <defs>
        <path id="path0_fill" d="M 22 22L 0 22C 0 17.38 2.33562 10.5 11.2683 10.5C 19.5 10.5 22 18.22 22 22Z"/>
        <path id="path1_fill" d="M 16.0976 5.25C 16.0976 8.14949 13.6952 10.5 10.7317 10.5C 7.76823 10.5 5.36585 8.14949 5.36585 5.25C 5.36585 2.3505 7.76823 0 10.7317 0C 13.6952 0 16.0976 2.3505 16.0976 5.25Z"/>
        <path id="path2_stroke_2x" d="M 0 22L -1.5 22L -1.5 23.5L 0 23.5L 0 22ZM 22 22L 22 23.5L 23.5 23.5L 23.5 22L 22 22ZM 11.2683 10.5L 11.2683 12L 11.2683 10.5ZM 0 23.5L 22 23.5L 22 20.5L 0 20.5L 0 23.5ZM 23.5 22C 23.5 19.8494 22.8057 16.668 20.9565 13.9819C 19.06 11.227 15.9401 9 11.2683 9L 11.2683 12C 14.8282 12 17.0741 13.6329 18.4855 15.6831C 19.9443 17.802 20.5 20.3706 20.5 22L 23.5 22ZM 11.2683 9C 6.3589 9 3.08083 10.9201 1.07872 13.6251C -0.869117 16.2568 -1.5 19.4781 -1.5 22L 1.5 22C 1.5 19.9019 2.03693 17.3732 3.49007 15.4099C 4.88893 13.5199 7.24501 12 11.2683 12L 11.2683 9ZM 14.5976 5.25C 14.5976 7.29037 12.8978 9 10.7317 9L 10.7317 12C 14.4926 12 17.5976 9.00862 17.5976 5.25L 14.5976 5.25ZM 10.7317 9C 8.56562 9 6.86585 7.29037 6.86585 5.25L 3.86585 5.25C 3.86585 9.00862 6.97084 12 10.7317 12L 10.7317 9ZM 6.86585 5.25C 6.86585 3.20963 8.56562 1.5 10.7317 1.5L 10.7317 -1.5C 6.97084 -1.5 3.86585 1.49138 3.86585 5.25L 6.86585 5.25ZM 10.7317 1.5C 12.8978 1.5 14.5976 3.20963 14.5976 5.25L 17.5976 5.25C 17.5976 1.49138 14.4926 -1.5 10.7317 -1.5L 10.7317 1.5Z"/>
        </defs>
        </svg>
    {% when 'cart' %}
      <svg width="23" height="21" viewBox="0 0 23 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Vector</title>
        <desc>Created using Figma</desc>
        <g id="Canvas" transform="translate(-9509 -10915)">
        <g id="Vector">
        <use xlink:href="#path0_stroke" transform="translate(9509 10916)" fill="#333333"/>
        </g>
        </g>
        <defs>
        <path id="path0_stroke" d="M 6.1005 2.56757L 6.83622 2.4219L 6.83622 2.4219L 6.1005 2.56757ZM 8.64237 15.4054L 7.90666 15.5511L 8.02631 16.1554L 8.64237 16.1554L 8.64237 15.4054ZM 21.8601 4.62162L 22.5723 4.85665L 21.8601 4.62162ZM 19.3182 11.2973L 19.3182 12.0473L 19.8279 12.0473L 20.0156 11.5734L 19.3182 11.2973ZM 10.289 17.4595C 10.289 17.9383 9.93346 18.25 9.58648 18.25L 9.58648 19.75C 10.8439 19.75 11.789 18.6823 11.789 17.4595L 10.289 17.4595ZM 9.58648 18.25C 9.23949 18.25 8.884 17.9383 8.884 17.4595L 7.384 17.4595C 7.384 18.6823 8.3291 19.75 9.58648 19.75L 9.58648 18.25ZM 8.884 17.4595C 8.884 16.9807 9.23949 16.6689 9.58648 16.6689L 9.58648 15.1689C 8.3291 15.1689 7.384 16.2366 7.384 17.4595L 8.884 17.4595ZM 9.58648 16.6689C 9.93346 16.6689 10.289 16.9807 10.289 17.4595L 11.789 17.4595C 11.789 16.2366 10.8439 15.1689 9.58648 15.1689L 9.58648 16.6689ZM 19.5849 17.4595C 19.5849 17.9383 19.2294 18.25 18.8824 18.25L 18.8824 19.75C 20.1398 19.75 21.0849 18.6823 21.0849 17.4595L 19.5849 17.4595ZM 18.8824 18.25C 18.5354 18.25 18.18 17.9383 18.18 17.4595L 16.68 17.4595C 16.68 18.6823 17.6251 19.75 18.8824 19.75L 18.8824 18.25ZM 18.18 17.4595C 18.18 16.9807 18.5354 16.6689 18.8824 16.6689L 18.8824 15.1689C 17.6251 15.1689 16.68 16.2366 16.68 17.4595L 18.18 17.4595ZM 18.8824 16.6689C 19.2294 16.6689 19.5849 16.9807 19.5849 17.4595L 21.0849 17.4595C 21.0849 16.2366 20.1398 15.1689 18.8824 15.1689L 18.8824 16.6689ZM 0 0.75L 3.05025 0.75L 3.05025 -0.75L 0 -0.75L 0 0.75ZM 3.05025 0.75C 3.70778 0.75 5.05581 1.15276 5.36478 2.71324L 6.83622 2.4219C 6.33179 -0.125735 4.0873 -0.75 3.05025 -0.75L 3.05025 0.75ZM 5.36478 2.71324L 5.46646 3.22675L 6.93789 2.93541L 6.83622 2.4219L 5.36478 2.71324ZM 5.46646 3.22675L 7.09326 11.443L 8.56469 11.1516L 6.93789 2.93541L 5.46646 3.22675ZM 7.09326 11.443L 7.90666 15.5511L 9.37809 15.2597L 8.56469 11.1516L 7.09326 11.443ZM 8.64237 16.1554L 19.3182 16.1554L 19.3182 14.6554L 8.64237 14.6554L 8.64237 16.1554ZM 6.1005 3.83108L 6.20217 3.83108L 6.20217 2.33108L 6.1005 2.33108L 6.1005 3.83108ZM 6.20217 3.83108L 21.3517 3.83108L 21.3517 2.33108L 6.20217 2.33108L 6.20217 3.83108ZM 21.3517 3.83108C 21.3183 3.83108 21.2669 3.81684 21.2386 3.7687C 21.2178 3.73317 21.3199 3.8653 21.1479 4.38659L 22.5723 4.85665C 22.807 4.14551 22.8244 3.50737 22.5324 3.00968C 22.2331 2.49938 21.7241 2.33108 21.3517 2.33108L 21.3517 3.83108ZM 21.1479 4.38659C 20.7498 5.59302 19.3027 9.29961 18.6209 11.0212L 20.0156 11.5734C 20.6895 9.87156 22.1571 6.11509 22.5723 4.85665L 21.1479 4.38659ZM 19.3182 10.5473L 7.82897 10.5473L 7.82897 12.0473L 19.3182 12.0473L 19.3182 10.5473ZM 7.82897 10.5473L 7.62562 10.5473L 7.62562 12.0473L 7.82897 12.0473L 7.82897 10.5473Z"/>
        </defs>
      </svg>
    {% when 'play' %}
    <?xml version="1.0" encoding="iso-8859-1"?>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 41.999 41.999" style="enable-background:new 0 0 41.999 41.999;" xml:space="preserve">
        <path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40
          c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20
          c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z"/>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        </svg>
    {% when 'star' %}
<svg width="23" height="21" viewBox="0 0 23 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<title>Star</title>
<desc>Created using Figma</desc>
<g id="Canvas" transform="translate(-8980 -15719)">
<g id="Star">
<use xlink:href="#path0_fill" transform="translate(8979.69 15719)" fill="#3B52B0"/>
</g>
</g>
<defs>
<path id="path0_fill" d="M 11.6535 0L 14.2699 7.9463L 22.7367 7.9463L 15.8869 12.8574L 18.5033 20.8037L 11.6535 15.8926L 4.80376 20.8037L 7.42014 12.8574L 0.570365 7.9463L 9.03715 7.9463L 11.6535 0Z"/>
</defs>
</svg>
    {%- endcase -%}