<div class="ProductSelection">
  <h2 class="ProductSelection__heading ProductSelection__heading--productpage">Choosing a weight</h2>
  <p class="ProductSelection__body">Designed to be ~10% of your body weight</p>
  <div class="ProductSelection__table">
    <ul class="ProductSelection__body-weights">
      <li class="ProductSelection__table-heading">Body weight</li>
      {% for block in section.blocks %}
        {% if block.type == 'weights' %}
        <li class="ProductSelection__table-listing ProductSelection__table-listing--body">{{block.settings.title}}</li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="ProductSelection__blanket-weights">
      <li class="ProductSelection__table-heading">Blanket weight</li>
      {% for variant in product.variants %}
      <li class="ProductSelection__table-listing ProductSelection__table-listing--blanket">
        <div class="ProductSelection__table-listing__title">{{variant.title}}</div> 
        <button data-variant="{{variant.id}}" class="ProductSelection__button Button Button--transparent js-weight-select {% unless variant.available %}ProductSelection__button--unavailable js-productUnavailable{% endunless %}">
          <span class="choose">{% if variant.available %}Choose{% else %}Sold Out{% endif %}</span>
          <span class="variant-title">{{variant.title}}</span>
        </button>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>