<header class="Header">
  <div class="Header__section Header__section--logo"></div>
  <div class="Header__section Header__section--nav">
    <nav>
      <ul>
        {% for link in linklists['main-menu'].links %}
        <li><a href="{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="Header__section Header__section--account">
    <img src="{{section.settings.designed_image | img_url:'master'}}" alt="{{section.settings.designed_image.alt}}">
  </div>
</header>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "logo"
    },
    {
      "type":"header",
      "content":"Designed In"
    },
    {
      "type":"text",
      "id":"designed_text",
      "label":"Text",
      "default":"Designed in the US"
    },
    {
      "type":"image_picker",
      "id":"designed_image",
      "label":"Image"
    }
  ]
}

{% endschema %}