<!-- sections/products.liquid -->
<div class="Promobar js-Promobar">
<div class="container l">
  <p class="Promobar__text">{{section.settings.text}}</p>
  <button class="js-closePromobar Promobar__close">x</button>
</div>
</div>
<style>
  .Promobar{
    background: {{section.settings.bg_color}};
    color: {{section.settings.text_color}};
  }
</style>
<script>
  var closedPromobar = Cookies.get('promobar-closed');
  if(closedPromobar){
    $('.js-Promobar').addClass('hide');
  }
  $('.js-closePromobar').click(function(){
    Cookies.set('promobar-closed', true, { expires: {{section.settings.expiration}} });
    $('.js-Promobar').addClass('hide');
  });
</script>
{% schema %}
  {
    "name": "Promobar",
    "settings": [
      {
        "type": "header",
        "content": "Text Content"
      },
      {
        "id":"text",
        "type":"textarea",
        "label":"Text"
      },
      {
        "type":"header",
        "content":"Styling"
      },
      {
        "type":"color",
        "id":"bg_color",
        "label":"Background Color",
        "default":"#A0DAE8"
      },
      {
        "type":"color",
        "id":"text_color",
        "label":"Text Color",
        "default":"#333E48"
      },
      {
        "type":      "select",
        "id":        "expiration",
        "label":     "Re-show Promobar",
        "options": [
          {
            "value": "1",
            "label": "After 1 Day"
          },
          {
            "value": "3",
            "label": "After 3 Days"
          },
          {
            "value": "7",
            "label": "After a Week"
          },
          {
            "value": "14",
            "label": "After 2 Weeks"
          }
        ],
        "info":"When is the next time they should see the promobar, after they close it",
        "default":   "1"
      }
    ]
  }
{% endschema %}
