@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);#admin_bar_iframe {
  display: none; }

html {
  font-size: 62.5%;
  font-family: 'Open Sans'; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  color: #282B32;
  font-weight: 400;
  margin: 0; }

p, span, button, a, label, select {
  font-family: 'Open Sans';
  margin: 0; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3.6rem; }

p {
  font-size: 1.8rem;
  color: #282B32; }

a {
  font-size: 1.8rem; }

button {
  font-size: 1.8rem;
  border-radius: 0;
  line-height: 1;
  text-transform: none;
  background-color: transparent; }
  button:hover {
    background-color: transparent; }

.Button {
  max-width: 90%;
  width: 350px;
  height: 50px;
  font-weight: 400;
  transition: background-color .3s, border-color .3s, color .3s; }

.Button--main {
  background-color: #3B52B0;
  color: white;
  border: 1px solid #3B52B0; }
  .Button--main:hover {
    background-color: white;
    color: #3B52B0;
    border-color: #3B52B0; }

.Button--transparent {
  background-color: transparent;
  color: #3B52B0;
  border: 1px solid #3B52B0;
  box-sizing: border-box; }

.container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container.l {
    width: 1440px; }
  .container.m {
    width: 1200px; }
  .container.s {
    width: 768px; }
  .container.xs {
    width: 768px; }
  @media screen and (max-width: 768px) {
    .container {
      padding-left: 5px;
      padding-right: 5px; } }

/* Promobar */
.Promobar {
  padding: 10px 0px;
  position: relative; }
  .Promobar__text {
    text-align: center;
    color: white;
    font-size: 1.4rem; }
  .Promobar__close {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 40px; }
    @media screen and (max-width: 375px) {
      .Promobar__close {
        right: 10px; } }
